.main {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 6rem;
}

.main .form-part {
  width: 50%;
  padding: 10px;
  font-size: 2rem;
  align-items: center;
  font-weight: 600;
}

.main .img-part img {
  margin-left: auto;
  margin-right: auto;
  height: 90%;
  width: 90%;
  border-radius: 30px;
  padding-top: 10px;
}
.form-part input {
  padding: 15px 10px;
  width: 50%;
  margin: 10px 10px;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
}
.form-part .select-lab {
  padding: 15px 10px;
  width: 53%;
  margin: 10px 10px;
  border: 1px solid rgb(90, 90, 90);
  border-radius: 5px;
}

.btn {
  width: 53%;
  height: 2.7rem;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}
.btn:hover {
  background-color: white;
  color: black;
}
@media (max-width: 860px) {
  .main {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .main .form-part {
    font-size: 1.7rem;
    width: 100%;
  }
  .form-part .select-lab {
    padding: 10px 10px;
    width: -webkit-fill-available;
  }
  .form-part input {
    width: -webkit-fill-available;
  }
  .main .img-part img {
    width: 80%;
  }
  .btn {
    width: 95%;
  }
}
